# Descriptive Statistics for Data Science

#  Measure Central Tendency:-- 1) Mean
#                               2)MOde
#                                3)Median
#     
#   Outliers
#
#
#Measure Of spread:--1) Range
#                     2)IQR
#                      3)Variance
#                       4)Standerd Deviation
#
#
#
#

## Importing  the Libraries

In [13]:
import pandas as pd
import os

In [14]:
os.chdir("H:\\COGNITIOR Data Science\\dataframes\\")

In [15]:
# Reading the Data By Making the DataFrame

df = pd.read_csv("data.csv")

In [16]:
# DataFrame is

df

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   45   61000        No
4  Germany   40   45000       Yes
5   France   35   58000       Yes
6    Spain   39   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

In [17]:
# To see First Five Data Value

df.head(5)

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   45   61000        No
4  Germany   40   45000       Yes

In [18]:
#To see Last Five Dataset Value

df.tail(5)

   Country  Age  Salary Purchased
5   France   35   58000       Yes
6    Spain   39   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

# Calculting the Mean Of the Data

In [19]:
#   Mean/Average :-   


#               Sum Of Number Of terms
#         Mean=------------------------ 
#                 Number OF terms
#
#  Mean is Easily Influenced by the Single Entry Of element(Outliers) in Given Dataset
#  It doesn't gives the true nature

In [20]:
# Here we are Calculating the mean of Salary Columns by using mean() funcation

mean_data = df['Salary'].mean()

In [21]:
print(mean_data)

61900.0

# Calculating the Mode OF the Data

In [30]:
# Mode:--1) IT is the Number which Occurs most Frquently in the Data Series
#        2) it Robust and is not genrally affected much by the addition of a couple of new value
#        3) mode is genrelly used for categorical data during data Preprocessing
#

In [23]:
# calculating the mode of the data by using the mode() funcation

In [27]:
Mode_Data  = df["Country"].mode()

In [28]:
print(Mode_Data)

0    France
dtype: object

# Calculating the Median Of Data

In [31]:
#   Median:-  1) it is nothing but a Absolute Central Value Of the Data
#
#

In [32]:
# here WE Are Calculating the medain of data by using the median()  function

Meadian_of_Data = df["Salary"].median()

In [33]:
Meadian_of_Data

59500.0

# Outliers

In [35]:
#   Outlier:--  Any Value will fall really outside the range of the data is term as Outliers 
#
#  Reasons For Outliers:-1) Typos:- outliers during data collection adding extras zeors by mistake
#                       2) Mesuremental Error:-Outliers in the data due to operaters being faulty
#                        3)Intrumental error
#                       4)Intenational error.
#                        5)legit error

# #Calculting the Quantiles

In [36]:
Q1 = df["Salary"].quantile(0.25)

In [37]:
Q2 = df["Salary"].quantile(0.50)

In [38]:
Q3 = df["Salary"].quantile(0.75)

In [39]:
Q4 = df["Salary"].quantile(1)

In [40]:
print("First Quuartile is :",Q1)

First Quuartile is : 52500.0

In [41]:
print("Second Quuartile is :",Q2)

Second Quuartile is : 59500.0

In [42]:
print("Third Quuartile is :",Q3)

Third Quuartile is : 70750.0

In [43]:
print("Fourth Quuartile is :",Q4)

Fourth Quuartile is : 83000.0

# Spread Of Data

In [ ]:
# Spread of data Describes how similar or varied as the se of observation

# Range

In [ ]:
# Range = Larget Value - Samllest

In [ ]:
# Calculating the range of data as follows

In [44]:
max_data = df["Salary"].max()

In [45]:
min_data = df["Salary"].min()

In [46]:
Range_Data = max_data - min_data

In [47]:
print(Range_Data)

38000

# Inter Quartile Range

In [ ]:
# Inter Quartile Range(IQR)=Q3 -Q1

In [48]:
Q1 = df["Salary"].quantile(0.25)

In [49]:
Q3 = df["Salary"].quantile(0.75)

In [50]:
IQR = Q3 - Q1

In [51]:
IQR

18250.0

# Variance

In [ ]:
# Variance :- Spread and Distrubustion of Data
#              Variance is the aveage squared deviation of data of mean

In [52]:
var_data = df["Salary"].var(ddof=0)

In [53]:
print(var_data)

152090000.0

# Standerd Deviation

In [54]:
Standerd_devi = df["Salary"].std(ddof=0)

In [55]:
print(Standerd_devi)

12332.477447779907